*{
margin left: 20px;
padding: 0px;
}

body{    
    color: black;
    margin-left: 5px;
    margin-top:5px;
}

#container{
    max-width: 1240px;
    margin-left: 0px;         
   
}

#title{
    font-size: 3.6rem;       
    margin:0px;
    padding-bottom:0px;  
    font-family: 'Scheherazade New', serif;  
    font-weight: 400; 
}

#description{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    font-size: 1.5rem;
    font-weight: 100px;
    padding-top: 0px;
    
}

#header{
    margin-left: 2px;
    margin-bottom: 0px;
    padding: 0px;

}
/*textarea{ width: 8.7rem;
    height: 2.5rem; 
  
} */
#survey_form_container{
    width: 700px;    
    margin-left: 30px;
    padding: 2px 5px;
    font-size: 1.2rem;
}
#name, #surname, #email{    
    padding: 2px;
    margin-top: 5px;
    
}
#dropdown{

    padding: 0px;
    margin-top: 5px;
    text-align-last: justify;
}
.input-box{
    margin: 0,auto,0,0

}
.input-box-2{
    padding-top:  10px;
    margin-top: 10px 0px;
}
#form-button{   
   
    padding: 0px;
    margin: 0px;   
    color: black;
    border: none;
    cursor: pointer;
    font-size: 0.6rem;

}
.submit{
    
    width: 30px;
    padding: 0px;
    
}
#form-button:hover{  
   
}

#input-box-3{
    margin-top: 4px;
}
#input-box-4{
    margin-top: 20px;
} 

    


